* {
    margin: 0;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 28px;
    font-weight: 100;
    color: #fff;
}

body {
    background-color: rgb(168, 166, 161);
}

/* HEADER */
.dark-section,
.footer-nav ul,
.giftcard-container,
.item,
.journal,
.main-title,
.plants,
header,
nav ul {
    display: flex;
}

header {
    position: absolute;
    justify-content: space-between;
    align-items: baseline;
    background-color: transparent;
    z-index: 10;
    margin: 1em 0;
    width: 100%;
}

.logo {
    margin: 0 5em 0 1em;
}

nav ul {
    flex-direction: row;
    padding: 0;
}

ul li {
    font-size: 14px;
    list-style-type: none;
    margin: 1em;
}

li a {
    font-size: 20px;
}

.cart {
    margin: 0 1em 0 7em;
}

.cart img {
    height: 1em;
}

/* MAIN */

.main-background {
    height: 25em;
}

.background {
    position: relative;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-title {
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 8em;
    left: 27%;
    right: 27%;
}

h1 {
    font-size: 64px;
    text-align: center;
    font-weight: 100;
}

.grey-button {
    margin: 2em;
    padding: 20px 25px;
    background-color: rgb(168, 166, 161);
}

.white-button {
    padding: 20px 25px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.white-button a {
    color: rgb(168, 166, 161);
}

.dark-section {
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: rgb(56, 56, 59);
}

h2 {
    padding: 1em;
    font-size: 44px;
    font-weight: 100;
}

.plants {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 3em;
}

.item {
    flex-direction: column;
    align-items: center;
    max-width: 30%;
}

.item img {
    width: 100%;
    height: 60%;
}

.item-name {
    padding: 1em 0 0;
}

.item .btn {
    font-size: 19px;
}

.item > .grey-button {
    padding: 10px 25px;
}

.image {
    position: relative;
    top: -4em;
    width: 100%;
    height: 21em;
    z-index: -1;
}

.image img {
    width: 100%;
}

.light {
    position: relative;
    background-color: rgb(168, 166, 161);
}

.journal-container {
    text-align: center;
    padding: 1px 20px;
}

.gif-content {
    max-width: 50%;
    padding: 1em;
}

.gif-content img {
    width: 100%;
    height: 50%;
}

.small-text {
    font-size: 22px;
    line-height: 35px;
    padding: 10px 0 0;
}

.giftcard-container {
    position: relative;
    align-items: center;
}

.giftcard-container div {
    max-width: 50%;
    align-items: center;
    padding: 2em;
}

.giftcard-container img {
    width: 100%;
}

.giftcard-container a {
    font-size: 24px;
    text-align: center;
    padding: 23px;
    margin: 0;
}

.giftcard-title {
    padding: 0;
    margin: 1em 0;
}

.monstera span {
    border: 1px solid #fff;
    position: absolute;
    top: 7em;
    left: 8em;
    padding: 7em 17em;
}

.form-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 107em;
    left: 20%;
    right: 20%;
    max-height: 0;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.form-title {
    padding: 0;
}

input {
    padding: 17px 20px;
}

button {
    margin: 1em 3em;
    border: none;
}

.footer {
    position: relative;
    padding: 2em;
}

.footer-nav ul {
    flex-direction: column;
}

.footer-nav a {
    color: rgb(168, 166, 161);
    text-decoration: underline;
}

input:focus {
    outline: none !important;
    color: #000;
}

.ffs-slide-image img {
    width: 100%;
}

#fifty-fifty-slider-stack-id {
    min-height: 450px;
    padding: 0;
    display: flex;
    margin: 50px auto;
    overflow: hidden;
    list-style: none;
    position: relative;
    align-items: stretch;
    transition: all 0s ease-in-out;
}

#fifty-fifty-slider-stack-id .ffs-slide {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    bottom: auto;
    display: flex;
    align-items: center;
    user-select: none;
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
    transform: all 0.3s ease-in-out;
}
#fifty-fifty-slider-stack-id .ffs-slide.active .ffs-slide-content {
    transform: translateX(0%);
}
#fifty-fifty-slider-stack-id .ffs-slide.active .ffs-slide-image {
    transform: translateX(0%);
}
#fifty-fifty-slider-stack-id .ffs-slide-content,
#fifty-fifty-slider-stack-id .ffs-slide-image {
    width: 50%;
    flex: 0 1 auto;
    position: relative;
    pointer-events: auto;
    box-sizing: border-box;
}
#fifty-fifty-slider-stack-id .ffs-slide-content {
    z-index: 2;
    display: flex;
    position: relative;
    padding-bottom: 50px;
    transform: translateX(200%);
    transition: transform 0.6s 0s ease-in-out;
    flex-direction: column;
    justify-content: center;
}
#fifty-fifty-slider-stack-id .ffs-slide-content-inner {
    padding: 20px 25px;
    box-sizing: border-box;
}
#fifty-fifty-slider-stack-id .ffs-slide-content .ffs-slide-title {
    color: white;
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 10px;
}
#fifty-fifty-slider-stack-id .ffs-slide-content .ffs-slide-text p {
    font-size: 22px;
    line-height: 35px;
    margin: 20px;
}

#fifty-fifty-slider-stack-id .ffs-slide-content .ffs-slide-action {
    color: white;
    font-size: 16px;
    padding: 7px 20px;
    border: 2px solid;
    background: none;
    border-radius: 30px;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.3s ease;
}
#fifty-fifty-slider-stack-id .ffs-slide-content .ffs-slide-action:hover {
    color: white;
    background: none;
    border-color: white;
}
#fifty-fifty-slider-stack-id .ffs-slide-image {
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0s 0.3s ease-in-out;
}

#fifty-fifty-slider-stack-id .ffs-nav {
    left: 0;
    bottom: 0;
    width: 50%;
    z-index: 10;
    color: white;
    display: flex;
    padding: 10px 20px;
    position: absolute;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-end;
}
#fifty-fifty-slider-stack-id .ffs-nav-count {
    font-size: 14px;
    margin-right: auto;
}
#fifty-fifty-slider-stack-id .ffs-nav a {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid white;
    opacity: 0.5;
    display: flex;
    color: inherit;
    line-height: 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transform: translateY(0%);
    transition: all 0.3s ease-in-out;
}
#fifty-fifty-slider-stack-id .ffs-nav a i {
    line-height: 0;
    font-size: 20px;
}
#fifty-fifty-slider-stack-id .ffs-nav a:hover {
    opacity: 1;
}
#fifty-fifty-slider-stack-id .ffs-nav a:first-of-type {
    margin-right: 10px;
}

#fifty-fifty-slider-stack-id.slide-end .ffs-nav a.next {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(100%);
}

#fifty-fifty-slider-stack-id.slide-start .ffs-nav a.prev {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(100%);
}

#fifty-fifty-slider-stack-id.height-set .ffs-slide {
    bottom: 0;
}

#fifty-fifty-slider-stack-id.hide-titles .ffs-slide-title {
    display: none;
}

#fifty-fifty-slider-stack-id.hide-text .ffs-slide-text {
    display: none;
}

#fifty-fifty-slider-stack-id.hide-actions .ffs-slide-action {
    display: none;
}

#fifty-fifty-slider-stack-id.content-top .ffs-slide-content {
    justify-content: flex-start;
}

#fifty-fifty-slider-stack-id.content-center {
    justify-content: center;
}

#fifty-fifty-slider-stack-id.content-bottom {
    justify-content: flex-end;
}

#fifty-fifty-slider-stack-id .ffs-slide:nth-of-type(1) .ffs-slide-content {
    background: rgb(168, 166, 161);
}

#fifty-fifty-slider-stack-id .ffs-slide:nth-of-type(2) .ffs-slide-content {
    background: rgb(168, 166, 161);
}

@media (max-width: 500px) {
    #fifty-fifty-slider-stack-id {
        min-height: 450px;
    }
    #fifty-fifty-slider-stack-id .ffs-nav {
        width: 100%;
    }
    #fifty-fifty-slider-stack-id .ffs-slide {
        width: 100%;
        flex: 1 0 auto;
        flex-direction: column-reverse;
    }
    #fifty-fifty-slider-stack-id .ffs-slide-content {
        width: 100%;
        flex: 1 0 auto;
        transform: translateX(100%);
    }
    #fifty-fifty-slider-stack-id .ffs-slide-image {
        width: 100%;
        height: 300px;
        flex: 0 1 auto;
        transform: translateX(100%);
        transition: transform 0.6s 0s ease-in-out;
    }
    #fifty-fifty-slider-stack-id.mobile-nav-top .ffs-slide-content {
        padding-bottom: 0;
        padding-top: 50px;
    }
    #fifty-fifty-slider-stack-id.mobile-nav-top .ffs-nav {
        top: 300px;
        bottom: auto;
    }
    #fifty-fifty-slider-stack-id.mobile-nav-top.slide-start .ffs-nav a.prev {
        transform: translateY(-100%);
    }
    #fifty-fifty-slider-stack-id.mobile-nav-top.slide-end .ffs-nav a.next {
        transform: translateY(-100%);
    }
}
.ion-arrow-right-c:before {
    content: "\f10b";
}
.ion-arrow-left-c:before {
    content: "\f108";
}
